#trinity-spinner {
  box-sizing: border-box;
}

#trinity-spinner *,
#trinity-spinner *:before,
#trinity-spinner *:after {
  box-sizing: inherit;
}

#trinity-spinner {
  width: 100%;
  padding: 50% 0;
  position: relative;
  display: flex;
  align-items: center;
}

#trinity-spinner #spinner {
  position: absolute;
}

#trinity-spinner #circle {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}

#trinity-spinner #trinity-spinner-text {
  position: absolute;
  width: 100%;
  text-align: center;
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}
